.lightbox{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    overflow: auto;/*scrol image if it's big*/
    animation: lightboxIn 0.5s;
}

.lightbox__next, .lightbox__prev{
    position:fixed;
    z-index: 11;
    font-size: 50px;
    cursor: pointer;
    color:#901C1C;


}
.lightbox__next{
    top:50%;
  /*  margin-top:20vh;*/
    right:15%;
    margin-left:250px;
}
.lightbox__prev{
    top:50%;
    left:15%;
   /* margin-top:20vh;*/
}

.lightbox__Close{
    position:fixed;
    z-index: 11;
    font-size: 50px;
    top:15%;
    right:15%;
    cursor: pointer;
    color:#901C1C;

}
.lightbox button{
    background-color: transparent;
    border: none;
    opacity: 0.8;
    transition: opacity .3s;
}
.lightbox button:hover{
    opacity: 1;
}
.lightbox__container{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.lightbox__container img{
    
    object-fit: cover;
    height: 50vh;
    max-width: 100%;
    animation: lightboxIn 0.5s;
    
}


.lightbox__loader{

    width:38px;
    height:38px;
    opacity:0.5;
    background: url("../public/svg/loader.svg");
    color: #DB8876 ;

}

.close__lightbox{
    display: none;
}

/*animations*/
@keyframes lighboxIn{
  from{
    opacity:0;

    }
    to{
        opacity:1;

    }
}