@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
   
    height: 90px;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a h2 {
    color: #D3573C;
    font-size: 36px;
    line-height: 40px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.card{
line-height: 4px;
text-align: center;
}

.card a{
    text-decoration: none;
    color: black;
}
.location{
    color: #D3573C;
    font-size: 17px;
    
}
.tagline{
    font-weight: 150;
}
.price{
color:gray;
font-style: italic;
}